@mixin grid( $num-cols: 2, $gap: 2 ) {
  display: grid;
  grid-template-columns: repeat($num-cols, 1fr);
  gap: $gap;
}

@mixin buttonOutline( $color, $bgColor, $reversed: "false"  ) {

  @if $reversed == "true" {
    border-color: $color;
    color: $color;
    background-color: $bgColor;
  
    &:hover {
      background-color: $color;
      color: $bgColor;
    }
  } @else {
    background-color: $color;
    color: $bgColor;
  
    &:hover {
      border-color: $color;
      color: $color;
      background-color: $bgColor;
    }
  }

}

@mixin textToLines( $quantity-of-lines ) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $quantity-of-lines;
}

@mixin alertType( $color, $bgColor ) {
  [class$="__button"] {
    @include buttonOutline( $color, $bgColor );
  }
  
  [class$="__icon"], [class$="__title"] {
    color: $color;
  }
}

@mixin responsive( $breakpoint ) {

  @if $breakpoint == "phone" {
    @media screen and ( max-width: 480px ) {
      @content;
    }
  }

}