$font-text: 'Montserrat', sans-serif;
$font-title: 'Poppins', sans-serif;

$color-black: #263238;
$color-black-light: #3c474c;
$color-green: #5E9E70;
$color-success: $color-green;
$color-error: #be3a3a;
$color-warn: $color-black;
$color-green-light: #E6FEED;
$color-gray: #DDDDDD;
$color-white: #FAFFFB;
$color-period: #6F34FF;
$color-favorite: #fcc419;

$course-color-1: #FBDBD4;
$course-color-2: #DAEAE5;
$course-color-3: #DADFE9;
$course-color-4: #ECF4EF;
$course-color-5: #FFCDCF;
$course-color-6: #E6E9EE;
$course-color-7: #feedba;

$gutter-horizontal: 5rem;

$header-height: 5rem;
$menu-aside-width: 27rem;
$menu-aside-width-small: 10rem;

$z-index-modal: 9999;
$z-index-header: 1;
$z-index-aside: 1;