$font-text: 'Montserrat', sans-serif;
$font-title: 'Poppins', sans-serif;

$color-black: #263238;
$color-black-light: #3c474c;
$color-green: #5E9E70;
$color-green-light: #E6FEED;
$color-gray: #DDDDDD;
$color-white: #FAFFFB;

$gutter-horizontal: 5rem;

$header-height: 7rem;
$menu-aside-width: 30rem;
$menu-aside-width-small: 10rem;