.courses {
  width: 100%;
  padding: 1rem 0;
}

.courses-filter {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: #F6F6F8;
  padding: .4rem 1rem;
  border-radius: 100px;
  margin-bottom: 4rem;
}

.courses-buttons {
  width: 50rem;

  &__favorite {
    width: 30rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.courses-header {
  margin-bottom: 2rem;
}

.courses-container {
  padding: 5rem 8rem;
  padding-top: 3rem;
  margin-inline: auto;
}

.courses-grid {
  @include grid( 4, 3rem );
  margin-bottom: 5rem;
}

.courses-card {
  padding: .5rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
  transition: all .4s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    transform: translateY(-2px);
  }

  &__content {
    padding: 2rem;
    height: 35rem;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  &__date {
    background-color: $color-white;
    font-weight: 600;
    padding: .3rem 1rem;
    border-radius: 100px;
  }
  
  &__period {
    background-color: $color-period;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 50%;
    color: $color-white
  }
  
  &__name {
    font-weight: 900;
    font-family: $font-title;
    font-size: 3.2rem;
    @include textToLines(2);
    line-height: 1.5;    
    margin-bottom: 2rem; 
  }
  
  &__icon {
    background-color: $color-white;
    padding: 1rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    
    &:hover {
      i {
        color: $color-success;
      }
    }
    
  }
  
  &__categories {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  &__category {
    padding: .3rem 2rem;
    border: 1px solid #aaa;
    border-radius: 100px;
    font-size: 1.4rem;
  }
  
  &__footer {
    border-radius: inherit;
    background-color: $color-white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  &__footer-icon {
    font-size: 3rem;
  }
  
  &__professor {
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    p { 
      font-weight: 700; 
    }

    span { 
      color: #555; 
      font-weight: 500; 
      @include textToLines(1)
    }
  }

  &__button {
    width: fit-content;
    font-weight: normal;
    font-size: 1.4rem;
    padding: .5rem;
  }

  &__circle {
    width: 2rem;
    height: 2rem;
    background-color: $color-period;
    border-radius: 50%;
  }

}

.create-course {

  padding: 2rem;

  &__title {
    font-size: 2rem;
    font-family: $font-title;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-green;
    position: relative;
    text-align: right;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 65%;
      height: 2px;
      top: 50%;
      left: 0;
      background-color: #ddd;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__category {
    padding: .5rem 1rem;
    border-radius: 100px;
    border: 1px solid $color-success;
    transition: all .3s ease;

    &:hover, &--active {
      cursor: pointer;
      background-color: $color-success;
      color: $color-white;
    }
  }

}

.default-courses {

  padding: 5rem;
  height: 100%;
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 50rem;
    margin-bottom: 3rem;
  }

}