.input-color {

  display: flex;
  align-items: center;
  gap: 2rem;

  &__circle {
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: all .4s ease;

    &:hover, &--active {
      cursor: pointer;
      width: 9rem;
      border-radius: 100px;
    }

  }

}