*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a:link, a:visited {
  color: $color-green;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  background: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  padding: 1rem;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul, ol, dl {
  list-style: none;
}

