.professors {
  width: 95%;
  margin: 3rem auto;
}

.professors-header {
  margin-bottom: 2rem;
}

.professors-button-add {
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
} 

.professors-table {
  display: flex;
  flex-direction: column;

  tr {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-bottom: 0;
    height: 4.5rem;
    align-items: center;
  }
  
  td {
    width: 25%;
    
    &:nth-child(1) {
      width: 15rem;
    }
    
  }
  
  &__thead {
  
    background-color: #F6F6F8;
    color: $color-black;
    font-weight: 300;
    border: 1px solid #ddd;
    
    tr {
      padding: 0;
      border: none;
    }

    th {
      text-align: left;
      width: 25%;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      &:nth-child(1) {
        text-align: center;
        width: 15rem;
      }
    }

  }

  &__name {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: $color-period;
    border-radius: 50%;
    color: $color-white;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

}