.course-cover {
  height: 20rem;
  border-radius: 10px;
  position: relative;

  &__color {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__info {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__location {
    font-weight: 300;
  }

  &__name {
    gap: 1rem;
    font-family: $font-title;
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__actions {
    display: flex;
    gap: 2rem;
    position: absolute;
    right: 2%;
    bottom: 15%;
    font-size: 1.4rem;
    padding: .5rem 1rem;
  }

  &__favorite {
    position: absolute;
    right: 3%;
    top: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__return {
    position: absolute;
    left: 1%;
    top: 7%;
  }

}

.course-main {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
}

.course-info {

  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  &__tags {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__line {
    flex-basis: 35%;
    height: 2px;
  }

  &__tag {
    display: flex;
    font-size: 1.4rem;
    font-family: $font-title;
  }

  &__key {
    flex-basis: 8rem;
    margin-right: 2rem;
    color: #888;
  }

  &__value {
    @include textToLines(1);
  }

  &__categories {
    display: flex;
    gap: 1rem;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.2rem;
    border-radius: 100px;
    background-color: $color-favorite;
    color: $color-black;
  }

  &__right {
    flex-basis: 35%;
  }

  &__description {
    font-size: 1.4rem;
  }

  &__title {
    text-align: right;
    color: #888;
    margin-bottom: 1rem;
  }
  
  &__text {
    text-align: right;
  }

  &__professor {
    font-size: 1.4rem;
    margin-right: 1rem;
    padding-bottom: 2px;
    padding: 2px 1rem;
    font-family: inherit;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 100px;
  }
  
  &__initial {
    margin-right: 1rem;
    background-color: $color-period;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 1.2rem;
  }
}

.course-buttons {
  margin-bottom: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__create {
    width: fit-content;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

}

.course-modal {

  padding: 2rem;

  &__text {
    text-align: left;
    span { 
      color: $color-green;
      padding-bottom: 2px;
      border-bottom: 2px solid currentColor;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__buttons {
    gap: 1rem;
    margin-top: 2rem;
  }

}