.btn {
  font-family: $font-title;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .4s ease;

  &--green {
    @include buttonOutline( $color-green, $color-white );
  }

  &--google {
    border-color: $color-green;
    @include buttonOutline( $color-white, $color-green );
  }

  &--black {
    @include buttonOutline( $color-black, $color-white );
  }

  &--white {
    border-color: $color-green;
    @include buttonOutline( $color-white, $color-green );
  }

  &--table {
    padding: .4rem;
    border: 1px solid #ddd;
    width: 9rem;
    line-height: 1;
    font-size: 1.4rem;
  }
  
  &--table-delete {
    @include buttonOutline( $color-error, $color-white, "true" );
  }

  &--table-edit {
    @include buttonOutline( $color-favorite, $color-white, "true" );
  }

  &--filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding: .5rem 2rem;
    border-radius: 100px;
    color: #555;
  }

  &--filter:hover, &--filter-active {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
    background-color: $color-green-light;
    color: #000;
  }

  &--add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include buttonOutline( $color-green, $color-white );
  }
  
  &--pagination {
    width: 3rem;
    height: 3rem;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .25);
    @include buttonOutline( $color-green, $color-white );
  }

  &--favorite {
    border: 1px solid #ddd;
    justify-content: center;
    i {
      color: $color-favorite;
    }
    font-weight: normal;
  }

  &--favorite-active {
    font-weight: bold;
    background-color: $color-favorite;
    i { color: inherit }
  }

  &--cover {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: $color-white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    background-color: $color-white;
    font-weight: 300;
    font-size: 1.4rem;
    padding: .5rem 1rem;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &--professor {
    padding: .1rem 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 100px;
    font-weight: 300;
    @include buttonOutline( $color-black, $color-white )
  }
  
  &--disable, &--enable {
    width: fit-content;
    gap: 1rem;
    justify-content: center;
    font-size: 3.4rem;
    padding: 0;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, .15);
  }
  
  &--disable {
    i {
      color: $color-black;
    }
  }
  
  &--enable {
    i {
      color: $color-favorite;
    }
  }
  
  &--return {
    padding: .3rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    @include buttonOutline( $color-black, $color-white )
  }

}