.btn {
  font-family: $font-title;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .4s ease;

  &--green {
    @include buttonOutline( $color-green, $color-white );
  }

  &--google {
    border-color: $color-green;
    @include buttonOutline( $color-white, $color-green );
  }

  &--black {
    @include buttonOutline( $color-black, $color-white );
  }

  &--filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
  }

  &--add {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}