.btn {
  font-family: $font-title;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .4s ease;

  &--green {
    @include buttonOutline( $color-green, $color-white );
  }

  &--google {
    border-color: $color-green;
    @include buttonOutline( $color-white, $color-green );
  }

  &--black {
    @include buttonOutline( $color-black, $color-white );
  }

  &--filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding: .5rem 2rem;
    border-radius: 100px;
    color: #555;
  }

  &--filter:hover, &--filter-active {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
    background-color: $color-green-light;
    color: #000;
  }

  &--add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include buttonOutline( $color-green, $color-white );
  }
  
  &--pagination {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .25);
    @include buttonOutline( $color-green, $color-white );
  }

  &--favorite {
    border: 1px solid #ddd;
    justify-content: center;
    i {
      color: $color-favorite;
    }
    font-weight: normal;
  }
}