.icon {
  &--form {
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 2.2rem;
    color: lighten($color-black, 30%);

    &:hover {
      opacity: 0.8;
    }
  }

  &--search {
    cursor: pointer;
    font-size: 2.4rem;
  }

  &--open-menu {
    cursor: pointer;
    font-size: 3.2rem;
  }

  &--menu-over {
    cursor: pointer;
    font-size: 2.4rem;
  }

  &--aside {
    font-size: 2.4rem;
  }

  &--aside--profile {
    align-self: center;
    background-color: $color-green;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
      background-color: darken( $color-green, 20%)
    }
  }

  &--location {
    font-size: 2rem;
    line-height: 0;
  }

  &--verify {
    font-size: 3rem;
    color: $color-green;
  }

  &--title {
    font-size: 3rem;
  }

  &--navigation {
    cursor: pointer;
    color: $color-white;
    font-size: 3.2rem;
    transition: all 0.4s ease;
    border-radius: 50%;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &--button {
    font-size: 2rem;
  }

}

