.flex {
  display: flex;

  &-between {
    justify-content: space-between;
    align-items: center;
  }

  &-center {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &-column-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-end {
    align-items: center;
    justify-content: flex-end;
  }
}
