.auth-layout {
  height: 100vh;
  width: 100vw;

  &__slider {
    background-color: $color-green-light;    
    border-top-right-radius: 8rem;
    border-bottom-right-radius: 8rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  }

  &__slider-card {
    padding: 1rem 2rem;
    height: 100%;
  }

  &__top {
    width: 85%;
  }

  &__slider-img {
    padding-bottom: 5rem;
  }

  &__container {
    @include grid(2, 5rem);

    @include responsive("phone") {
      @include grid(1, 2rem );
    }
  }

  &__link {
    color: $color-green;
  }

  &__logo {
    height: 7rem;
  }

  &__content {
    padding: 5rem 0;
    padding-bottom: 8rem    ;
    width: 85%;
    margin: 0 auto;
  }

}
