.icon {

  cursor: pointer;
  
  &--form {
    transition: color .4s ease;
    font-size: 2.2rem;
    color: lighten( $color-black, 30% );

    &:hover {
      color: darken( $color-black, 60% );
    }
  }

  &--search {
    font-size: 2.4rem;
  }

  &--open-menu {
    font-size: 3.2rem;
    color: $color-white;
  }

  &--menu-over {
    font-size: 2.4rem;
  }

}